html {
  --color-gray-100: rgb(251, 251, 251);
  --color-gray-200: rgb(244, 237, 237);
  --color-gray-des-600: rgb(81, 81, 95);
  --color-gray-main-800: rgb(27, 43, 63);
  --color-gray-900: rgb(37, 34, 34);

  --color-main-100: rgb(241, 177, 177);
  --color-main-400: rgb(235, 133, 133);
  --color-main-500: rgb(251, 115, 115);

  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--color-gray-200);
  font-size: 1rem;
  font-family: inter, sans-serif;
  line-height: 1.75rem;
  text-align: center;
  margin: 0;
  padding: 0;
}